## Importing the necessary libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import zipfile

## Extract datasets

In [2]:
from google.colab import drive
drive.mount('/content/drive')

ACCELEROMETER_DATA = 'all_accelerometer_data_pids_13.csv'

%cd '/content/drive/Othercomputers/My Laptop/O:/6SP/Datasets/Accelerometer Data + TAC'
if not os.path.exists('./all_accelerometer_data_pids_13.csv'):
    with zipfile.ZipFile("data.zip", "r") as zip_ref:
        zip_ref.extractall('./')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/Othercomputers/My Laptop/O:/6SP/Datasets/Accelerometer Data + TAC

In [3]:
all_accelerometer_df = pd.read_csv(ACCELEROMETER_DATA)
all_accelerometer_df.head()

            time     pid       x       y       z
0              0  JB3156  0.0000  0.0000  0.0000
1              0  CC6740  0.0000  0.0000  0.0000
2  1493733882409  SA0297  0.0758  0.0273 -0.0102
3  1493733882455  SA0297 -0.0359  0.0794  0.0037
4  1493733882500  SA0297 -0.2427 -0.0861 -0.0163

In [4]:
all_accelerometer_df = all_accelerometer_df.groupby(['pid', 'time'])
all_accelerometer_df.first()

                           x       y       z
pid    time
BK7610 1493735870653  0.1261 -0.0078 -0.0243
       1493735870679  0.1336 -0.0697 -0.0446
       1493735870703  0.1443 -0.0474 -0.0447
       1493735870729  0.1255 -0.0038  0.0111
       1493735870753  0.1076  0.0032  0.0276
...                      ...     ...     ...
SF3079 1493790825484  0.0169  0.0426  0.2114
       1493790825487 -0.4330  0.1745 -0.1570
       1493790825489  0.1015  0.0213 -0.1760
       1493790825492  0.2091 -0.0084  0.0871
       1493790825495 -0.0067  0.0099  0.0959

[14056690 rows x 3 columns]

## Data Preprocessing